.card-product {
  margin-bottom: 30px;

  width: 260px;
  max-width: 260px;
  height: 374px;
  min-height: 374px;

  border: 1px solid @border-color;
}

.card-product__link-to-order {
  display: block;
}

.card-product__content-image {
  display: block;
  width: 260px;
  max-width: 260px;
  height: 195px;
  min-height: 195px;
  margin-bottom: 29px;
}

.card-product__name {
  margin-left: 28px;
  margin-bottom: 15px;

  .font-parameters(17px; 24px; bold; @black);
}

.card-product__description {
  margin-top: 0;
  margin-left: 28px;
  margink-bootom: 56px;

  .font-parameters(13px; 30px; normal; @gray-tone-one);
}

.card-product__price {
  margin-top: 0;
  margin-left: 28px;
  margin-bottom: 28px;

  .font-parameters(15px; 24px; bold; @black);
}