.catalog-products {
  width: 320px;
}

.catalog-products__list {
  list-style: none;
}

.products-list__item:nth-of-type(1) {
  background-color: #63d1bb;
}

.products-list__item:nth-of-type(2) {
  background-color: #56c3b2;
}

.products-list__link {
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
  color: #ffffff;
}