.contacts-of-company {
  padding-top: 30px;
  padding-bottom: 30px;
}

.contacts-of-company__title {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}

.contacts-of-company__address,
.contacts-of-company__email {
  color: #444444;
}

.contacts-of-company__map {
  margin-bottom: 39px;
  display: block;
}

.contacts-of-company__write_us {
  margin-bottom: 39px;

  font-size: 18px;
  line-height: 20px;
  color: #444444;
}