.contacts-of-company {
  padding-top: 56px;
  padding-bottom: 30px;
}

.contacts-of-company__title {
  margin-bottom: 25px;
  .font-parameters(18px; 30px; bold; @black);
}

.contacts-of-company__email-and-address {
  padding: 0;
  border-collapse: collapse;
}

.contacts-of-company__email-and-address td {
  height: 60px;
  vertical-align: top;
}

.contacts-of-company__email-block td:first-child {
  width: 75px;
}

.contacts-of-company__email-block td:first-child {
  width: 75px;
}

.contacts-of-company__address,
.contacts-of-company__email {
  color: @gray-tone-one;
}

.contacts-of-company__map {
  margin-bottom: 39px;
  display: block;
}

.contacts-of-company__write_us {
  margin-bottom: 39px;

  .font-parameters(18px; 20px; bold; @gray-tone-one);
}
