.form-order__fieldset-title {
  .font-parameters(17px; 16px; bold; @light-green);
}

.form-order__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.form-order__checkbox-label,
.form-order__radio-label,
.form-order__name-label {
  .font-parameters(17px; 18px; bold; @black);
}

.form-order__field-text[placeholder],
.form-order__field-email[placeholder],
.form-order__add-text[placeholder] {
  .font-parameters(17px; 18px; normal; @gray-tone-one);

  opacity: 0.3;
}

.form-order__footnote {
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: #444444;
  .font-parameters(14px; 16px; normal; @gray-tone-one);
}

.form-order__submit {
  .font-parameters(17px; 16px; bold; @gray-tone-one);
}