.head-title {
  width: 320px;
  min-height: 283px;

  background: url("../img/hero-mobile@1x.jpg") no-repeat center center;
}

.head-title__title {
  margin: 0;
  padding-top: 70px;

  .font-parameters(27px; 30px; bold; @black);
  text-align: center;
}
