.menu-list {
  margin: 0;
  padding: 0;
}

.menu-list__item {
  position: relative;

  height: 78px;
  min-height: 78px;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  border-bottom: 1px solid @border-color-menu;

  a {
    margin-left: 76px;
  }
}

.menu-list__item:nth-of-type(3)::after {
  content: "";
  position: absolute;
  left: 32px;

  width: 18px;
  height: 18px;

  background: url("../img/icon-search.svg") no-repeat 0 0;
}

.menu-list__item:nth-of-type(4)::after {
  content: "";
  position: absolute;
  left: 31px;

  width: 21px;
  height: 19px;

  background: url("../img/icon-cart.svg") no-repeat 0 0;
}
