.modal-add-product__title {
  .font-parameters(25px; 30px; bold; @black);
}

.modal-add-product__description {
  .font-parameters(15px; 30px; normal; @gray-tone-one);
}

.modal-add-product__list {
  list-style: none;
}

.modal-add-product__list-item {
  .font-parameters(17px; 16px; bold; @gray-tone-one);
}

.modal-add-product__add-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 260px;
  height: 52px;

  .font-parameters(17px; 16px; bold; @white);

  background-color: @light-green;
}