.products-list {
  margin: 0;
  padding: 0;
}

.products-list__item {
  height: 103px;
  min-height: 103px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 30px;
}

.products-list__link {
  display: block;
  width: 110px;
}