.reviews-about-of-products__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
}

.reviews-about-of-products__description {
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
  color: #444444;
}

.reviews-about-of-products__name-author {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
}

.reviews-about-of-products__nickname-author {
  font-size: 17px;
  line-height: 30px;
  font-weight: normal;
  color: #444444;
}

.reviews-about-of-products__write-review {
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  color: #444444;
}