.shortly-about-us {
  padding-top: 69px;
  padding-bottom: 30px;
}

.shortly-about-us__title {
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: -2px;
  .font-parameters(25px; 30px; bold; @black);
}

.shortly-about-us__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.shortly-about-us__list-item {
  margin-top: 87px;

  .font-parameters(17px; 20px; bold; @black);
}

.shortly-about-us__descriptions {
  margin-top: 0;
  margin-bottom: 0;
}
