.shortly-about-us__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
}

.shortly-about-us__list {
  list-style: none;
}

.shortly-about-us__list-item {
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
}