.top-product {
  padding-top: 33px;
}

.top-product__title {
  margin-top: 0;
  margin-bottom: 10px;

  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
}

.top-product__product-of-week {
  margin-top: 0;
  margin-bottom: 30px;

  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  color: #63d1bb;
}

.top-product__description {
  margin-top: 0;
  margin-bottom: 27px;

  font-size: 15px;
  line-height: 24px;
  font-weight: normal;
  color: #444444;
}

.top-product__table {
  margin-bottom: 28px;

  font-size: 15px;
  line-height: 20px;
  font-weight: normal;
  color: #444444;
}

.top-product__price {
  margin-top: 0;
  margin-bottom: 27px;

  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: #444444;
}

.top-product__to-order {
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  color: #444444;
}

.top-product__content-image {
  margin-bottom: 25px;
}

.top-product__price {
  text-align: center;
}